<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="{%  static 'blog/assets/img/favicon.ico' %}">
<title>Mediumish - A Medium style template by WowThemes.net</title>
<!-- Bootstrap core CSS -->
<link href="{%  static 'blog/assets/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Fonts -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{%  static 'blog/assets/css/mediumish.css' %}" rel="stylesheet">
</head>
<body>

{% include 'blog/layout/header.html' %}

<!-- Begin Site Title
================================================== -->
<div class="container">

{% block content %}
    
{% endblock %}


{% include 'blog/layout/footer.html' %}

</div>
<!-- /.container -->


<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

</body>
</html>